.hero
    background-origin: center
    background-size: cover
    background-repeat: none

    &-product
        @extend .hero

        .hero-body,
        .hero-foot
            height: 100%
            background: rgba(0,0,0,0.4)

    &-landing
        @extend .hero
        background-image: url('https://source.unsplash.com/random')
        
        .hero-body
            height: 100%
            background: rgba(0,0,0,0.4)