.section

    &-services
        @extend .section
        padding: $section-padding-medium
        background-color: #fefefe

    &-testimonial
        @extend .section
        display: flex
        align-items: center
        min-height: 400px
        background-color: $primary
        color: white
        padding: $section-padding-medium

        .container
            max-width: 70ch

            .quote
                font-style: italic
            
            .author
                font-weight: bold
                margin-top: 1em

    &-quote-form
        @extend .section
        padding: $section-padding-medium

        .container
            display: flex
            flex-direction: column
            align-items: center

    &-contact-page
        @extend .section
        padding: $section-padding-medium