.navbar-item.is-mega
  position: static

  // .container
  //   @media screen and ( min-width: $desktop )
  //     display: flex
  //     flex-wrap: wrap
  //     justify-content: flex-start

  .is-mega-menu-title
    margin-bottom: 0
    padding: .375rem 1rem
